<br><br><br>
<br>


<section class="home-section mt-2">
    <div class="container mb-3">
      <div class="container mt-3">
        <table id="Category" class="table table-hover">
          <thead class="text-primary">
            <tr>
              <th scope="col">SNO</th>
              <th scope="col">PICTURE</th>
              <th scope="col">PRODUCT NAME</th>
              <th scope="col">PRICE</th>
            </tr>
          </thead>
          <tbody>
            <% let i=1; for(values of products) { %>
            <tr>
              <th scope="row"><%= i++ %></th>
              <td>
                <img
                  src="<%= values.orderProducts[0].picture %>"
                  alt=""
                  style="width: 4em; height: 4em"
                />
              </td>
              <td><%= values.orderProducts[0].productName %></td>
              <td>₹<%= values.orderProducts[0].sellingPrice %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div><br><br><hr>
    <div class="container mt-5">
      <div class="container">
        <h5><B><I class="text-success">ORDER DETAILS</I></B></h5>
        <div>
          <ul>
          
            <li class="mb-3"><h5>DATE</h5> <span><% let date = products[0].date.toLocaleDateString() %><%= date  %>  </span></li>
            <li class="mb-3"><h5>ADDRESS</h5> <span><%= products[0].deliveryDetails.address  %> </span></li>
            <li class="mb-3"><h5>STATUS</h5> <span><%= products[0].status %> </span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container mt-5 w-25 d-flex ">
  <div>
    <select class="form-select" aria-label="Default select example" id="newOrderStatus">
      <option value="placed">PLACED</option>
      <option value="shipped">SHIPPED</option>
      <option value="delivered">DELIVERED</option>
    </select>
  </div>
  <div>
    <button class="btn btn-success" onclick="orderStatus('<%= orderId %>')">UPDATE STATUS</button>
  
  </div>
    </div>
    <div class="container m-5"></div>
  </section>
  
  <script>
    function orderStatus(orderId){
      let status = document.getElementById('newOrderStatus').value
   fetch(
    '/admin/updateOrderStatus',{
      method:'post',
      headers:{'Content-Type':'application/json'},
              body:JSON.stringify(
                  {status,orderId})
    }).then(()=>{
    location.href = '/admin/adminOrderPage'
    })
    }
  </script>